<div class="col-md-12">
    <div class="col-md-6" style="margin: 0 auto" >
        <form class="row g-3">
            <div class="col-md-6">
                <label for="titre-input" class="form-label">Titre</label>
                <input type="text" class="form-control" id="titre-input" required>
            </div>
            <div class="col-md-12">
                <label for="description-input" class="form-label">Description</label>
                <textarea class="form-control" id="description-input" rows="3" required></textarea>
            </div>
            <div id="list-elements">

            </div>
            <div class="col-12">
                <button type="button" class="btn btn-primary" onclick="addElement()">Ajouter un élement</button>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-success" onclick="addTop()">Ajouter le top</button>
            </div>
        </form>
    </div>

</div>
<script>
    $listElements = $('#list-elements');

     htmlAddElement = id => `
            <div id="elt-${id}" data-id="${id}">
                <div class="col-md-6">
                    <label for="titre-input-${id}" class="form-label">Titre</label>
                    <input type="text" class="form-control" id="titre-input-${id}" required>
                </div>
                <div class="col-md-6">
                    <label for="position-input-${id}" class="form-label">Position</label>
                    <input type="number" class="form-control" id="position-input-${id}" rows="3" required>
                </div>
                <br>
                <div class="col-md-12">
                    <input type="file" class="custom-file-label" id="file-input-${id}" required>
                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                </div>
                <br>
                <div class="col-12">
                    <button type="button" class="btn btn-danger" onclick="deleteElement('${id}')">Retirer l'élement</button>
                </div>
            </div>

    `

    function addElement() {
        $elementNumber = Math.random().toString(36).substr(2, 5)
        $listElements.append(htmlAddElement($elementNumber))
    }

    async function addTop(e)
    {
        event.preventDefault()
        $form = $('form');
        let titre = $('#titre-input').val()
        let description = $('#description-input').val()

        let top = new Top(titre, description)

        for (const elt of $('form #list-elements').children())
        {
            let id = $(elt).data('id')
            let titreElt = $('#titre-input-'+id).val()
            let posElt = $('#position-input-'+id).val()
            let img =await fileTOBase64($('#file-input-'+id)[0].files[0])
            top.addElement(new Elt(titreElt, parseInt(posElt), img))
        }
        save(top)
        window.location.href = '/#top/'+top.id


    }



    /**
     * @param {string} id
     */
    function deleteElement(id)
    {
        $('#elt-'+id).remove()
    }
</script>
