<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5" id="top-container">
            
            
        </div>
    </div>
</section>
<script>


    function initTop()
    { 
        /** @param {Top} top **/
        let html = (top,index) => `
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <a href="#top/${top.id}" class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                <strong class="fa-stack-1x">
                                    ${index}
                                </strong>
                        </div>
                        <h2 class="fs-4 fw-bold">${top.title}</h2>
                        <p class="mb-0">${top.description}</p>
                    </a>
                </div>
            </div>`
            
        getAllTops().forEach((top, index) => {
            $("#top-container").append(html(top, index+1))
        })
    }

    initTop()

</script>