<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5" id="top-list-container">
            
            
        </div>
    </div>
</section>
<script >
    (()=>{


        /** @param {Elt} elt **/
        let html = elt => `<div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div href="#top/${elt.id}" class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature  text-white rounded-3 mb-4 mt-n4"><img src="${elt.image}" alt=""></div>
                        <h2 class="fs-4 fw-bold">${elt.title}</h2>
                    </div>
                </div>
            </div>`


        const hash = location.hash || '#';
        const  id = hash.slice(5);

        /** @param {Top} top **/
        const top = findTopById(id);
        if (top === null)
        {
            $('#top-list-container').html("Ce top n'existe pas")
        }else{
        
            listElt = top.elts;
            listElt.sort((top1, top2) => { return top1.position - top2.position })
            listElt.forEach(element => {
                $('#top-list-container').append(html(element))
            });
        }


            
    })()

     
</script>